/*первичный цвет текста #212121
вторичный цвет текста #757575
акцент #2196F3*/
:root {
  --primiry: #212121;
  --secondary: #757575;
  --acent: #2196f3;
  --icon-bgc: /*green*/ #f5f4fa;
}

body {
  background-color: white;
  color: var(--primiry);
  font-family: roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
}

h1,
h2,
h3,
p,
ul,
span {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

/*----------------------------------------------------------*/

.logo {
  font-family: raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primiry);
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-span {
  color: var(--acent);
}

.font-style {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.nav-menu,
.nav-contacts {
  display: flex;
  align-items: center;
}

.nav-menu {
  margin-left: 93px;
}

.nav-contacts {
  margin-left: auto;
}

.nav-menu li:not(:first-child),
.nav-contacts li:not(:first-child) {
  margin-left: 50px;
}

.nav-menu .font-style {
  color: var(--primiry);
  font-weight: 500;
  display: block;
  padding: 32px 0px;
  margin-top: 0px;
}

.nav-contacts .font-style {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 20px 0px;
  margin-top: 0px;
}

.nav-menu .font-style.current {
  color: var(--acent);
}

.nav-contacts .font-style:hover,
.nav-contacts .font-style:focus,
.nav-menu .font-style:focus,
.nav-menu .font-style:hover {
  color: var(--acent);
  fill: var(--acent);
}

.icon-header {
  fill: currentColor;
}

header .container {
  display: flex;
  align-items: center;
}

.headlines-style {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  color: var(--primiry);
  letter-spacing: 0.03em;
}

.header-style {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  color: var(--primiry);
  text-align: center;
  margin-bottom: 50px;
}

.effective-solutions {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img.jpg');
}
.effective-solutions .header-style {
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  margin-bottom: 30px;
}

.header-style.padding-top {
  margin-top: 0px;
}
.benefits {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.benefits .headlines-style {
  text-transform: uppercase;
  margin-top: 0px;
}

.benefits li:not(:first-child) {
  margin-left: 30px;
}

.benefits .font-style {
  font-weight: 400;
  line-height: calc(24 / 14);
  color: var(--secondary);
}

.benefits .icon {
  width: 70px;
  height: 70px;
}

.bg-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--icon-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

/*.benefits li::before{
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--icon-bgc);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;

}

.icon-radar::before{
    background-image: url("../images/icons/radar.svg");
}

.icon-clock::before{
    background-image: url('../images/icons/clock.svg');
}

.icon-diagram::before{
    background-image: url('../images/icons/diagram.svg');
}

.icon-astronaut::before{
    background-image: url('../images/icons/astronaut.svg');
} */

.command {
  display: flex;
  text-align: center;
}

.command > li:not(:first-child) {
  margin-left: 30px;
}

.item-container {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.command .headlines-style {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  margin-top: 0px;
}

.command .font-style {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--secondary);
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-color: white;
}

.card-container {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: green;
}

.social-networks a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #757575;
}

.social-networks a:hover .icon,
.social-networks a:focus .icon {
  fill: white;
}

.social-networks li {
  margin-left: 10px;
}

.social-networks li:first-child {
  margin-left: 0px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo.logo-color {
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.adress .font-style {
  font-style: normal;
  color: white;
  line-height: calc(24 / 12);
  margin-top: 9px;
}

.font-style.color-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.adress .font-style:hover,
.adress .font-style:focus {
  color: var(--acent);
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btns li:not(:first-child) {
  margin-left: 8px;
}
.btn-style {
  background-color: var(--acent);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  padding: 10px 32px;
  min-width: 73px;
  text-align: center;
}

.btns .btn-style {
  background-color: #f5f4fa;
  color: var(--primiry);
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
}

.btn-style.btn-bottom {
  margin-bottom: 200px;
}

.btns .btn-style:hover,
.btns .btn-style:focus {
  background-color: var(--acent);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.items .headlines-style {
  font-size: 18px;
  font-weight: 700;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.items .font-style {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.items {
  display: inline-block;
}

.items .item-container {
  padding: 20px 24px;
}

.items:hover,
.items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works li {
  margin-left: 30px;
  margin-top: 30px;
}
.works li:nth-child(3n + 1) {
  margin-left: 0px;
}

.works li:nth-child(-n + 3) {
  margin-top: 0px;
}

.works-img {
  display: flex;
}

.works-img li:not(:first-child) {
  margin-left: 30px;
}

.section.work {
  padding-left: 0px;
  padding-right: 0px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list .icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--acent);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--acent);
}

.clients {
  display: flex;
}

.clients .clients-list:not(:first-child) {
  margin-left: 30px;
}

.icon-header {
  display: inline-block;
  margin-right: 10px;
}

.adds .headlines-style {
  text-transform: uppercase;
  color: white;
}

.footer .container {
  display: flex;
}

.footer .adds {
  margin-top: 12px;
  margin-left: 70px;
}

.footer .social-networks {
  margin: 0px;
  margin-top: 16px;
  background-color: #2f303a;
}

.footer .social-networks a {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks a:hover,
.social-networks a:focus {
  background-color: var(--acent);
}

/*----------------------------------------container*/
.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  /* border: 3px solid aqua;*/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container.section:nth-child(2) {
  padding-bottom: 0px;
}

.bg-color {
  background-color: var(--icon-bgc);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
